table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
}

tr, td, th {
    border-collapse: collapse;
    border: 1px solid black;
}

#page-wrap {
    width: 50%;
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
}

#more-button-wrap {
    width: 50%;
    margin: 0 auto;
}

#more-button {
    width: 100%;
    height: 100px;
    font-size: 3rem;
}

#search-wrap {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
select, option {
    font-size: 3rem;
}
#search-wrap input {
    font-size: 3rem;
}

#search-wrap button {
    font-size: 3rem;
}

#tag-wrap {
    font-size: 3rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#tag-wrap button {
    font-size: inherit;
}










